/*Part 1 - THE BODY & FONT*/

body{
    margin: 0;
    padding: 0; 
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    transition: 1.2s;
    background: url('TheTablet.png'), linear-gradient(90deg, #9370F6, #F7B69B);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
    cursor: url(CustomCursorbyMark.gif), default;
}

::selection {
  color: whitesmoke;
  background: #FF2400;
}

@font-face {
    font-family: 'jpn';
    src: url(nicokaku_v1.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'nm';
    src: url(NightMachine.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'first';
    src: url(Thedus-Wide.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'second';
    src: url(Thedus-CondensedLight.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'third';
    src: url(Thedus-Condensed.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'yah2';
    src: url(yah2.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'tfw';
    src: url(TheFontWonder.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'ay';
    src: url(awyeah.ttf);
    font-weight: 100;
}

::-webkit-scrollbar{
    display: none;
}

/*Part 2 - THE NAVIGATION BAR*/

nav{
    background: transparent;
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    padding: -20px 10px;
    z-index: 100000;
}

nav a{
    color: whitesmoke;
    font-size: calc(10px + 1.6vh);
    padding: 7px 50px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: first;
    transition: 0.8;
    cursor: url(Pick.gif), default;
}

nav ul{
    float: right;
    margin-right: 10px;
}

ul{
    float: right;
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    cursor: url(Pick.gif), default;
}

ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    cursor: url(Pick.gif), default;
}

.hover.active,.hover:hover{
    background: whitesmoke;
    transition: .5s;
    color: #E3242B;
}

#highlighted{
    background: whitesmoke;
    transition: .5s;
    color: #E3242B;
}

nav ul li a{
    text-decoration: none;
}

#other{
    text-decoration: none;
    font-family: tfw;
    color: whitesmoke;
    cursor: url(Pick.gif), default;
    padding: 4px 4px 4px 4px;
}

#other:hover{
    color: #16161D;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
}

#hover.active,#hover:hover{
    background: repeating-linear-gradient(-45deg, #355C7D 0%, #6C5B7B 20%, #6C5B7B 40%, #C06C84 60%, #F67280 80%, #F8B195 100%);
    background-size: 400vh 400vh;
    animation: slide 6s linear infinite forwards;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.8;
}

@media screen and (max-width: 920px){
    nav ul li{
        display: none;
    }
}

@keyframes slide{
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position-x: 500vh;
    }
}

/*Part 3 - HOME*/
.main{
    min-height: 100vh;
    display: flex;
    transition: 1.2s;
    display: flex;
    padding: 2px 2px 2px 2px;
    background: transparent;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
}

.main-1{
    background: transparent;
    border-radius: 9px;
    transition: .8s;
    width: 65%;
    height: 700%;
    padding-bottom: 2%;
    margin: auto;
}

.main-1-h1{
    padding-left: 8%;
    color: whitesmoke;
    font-family: first;
    font-size: calc(10px + 13vh);
    transition: .8s;
    margin-bottom: 5%;
    font-size: calc(10px + 9.1vw);
    line-height: 0%;
    animation: glitch 1s linear infinite;
}

.main-1-p2{
    padding-left: 8.5%;
    color: whitesmoke;
    font-family: second;
    font-size: calc(10px + 1.3vh);
    transition: .8s;
    padding-right: 8%;
    font-size: calc(10px + 1.3vw);
}

.part-2{
    min-height: 100%;
    display: flex;
    transition: 1.2s;
    display: flex;
    padding: 2px 2px 2px 2px;
    background: url(TheTablet.png), linear-gradient(90deg, #9370F6, #F7B69B);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
}

.part-2-h1{
    padding-left: -10%;
    color: whitesmoke; /*Match color*/
    font-family: first;
    font-size: calc(10px + 9vh);
    font-size: calc(10px + 5vw);
    transition: .8s;
    /*margin-bottom: 2%;*/
    margin-top: 8%;
    line-height: 70%;
}

.part-2-1{
    background: transparent;
    border-radius: 9px;
    transition: .8s;
    width: 65%;
    height: 700%;
    padding-bottom: 2%;
    margin: auto;
}

.part-2-1-p1{
    padding-left: -10%;
    margin-top: -9%;
    color: whitesmoke;
    font-family: tfw;
    font-size: calc(10px + 1.3vh);
    transition: .8s;
    padding-right: 3%;
    font-size: calc(10px + 1.0vw);
    padding-top: 8%;
}

.part-2-1-p2{
    padding-left: -10%;
    margin-top: -5%;
    color: whitesmoke;
    font-family: tfw;
    font-size: calc(10px + 1.3vh);
    transition: .8s;
    padding-right: 3%;
    font-size: calc(10px + 1.0vw);
}

.part-2-h2{
    color: whitesmoke; /*Match color*/
    font-family: nm;
    font-size: calc(10px + 6vh);
    font-size: calc(10px + 3.7vw);
    transition: .8s;
    /*margin-bottom: 2%;*/
}

table, th, td {
    border:1px solid whitesmoke;
    border-collapse: collapse;
    padding: 5px;
    color: whitesmoke;
    font-family: tfw;
    font-size: calc(10px + 1.3vh);  
}

.part-3{
    min-height: 100%;
    display: flex;
    transition: 1.2s;
    display: flex;
    padding: 2px 2px 2px 2px;
    background: url('TheTablet.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
}

.part-3-h1{
    padding-left: 8%;
    color: whitesmoke; /*Match color*/
    font-family: third;
    font-size: calc(10px + 9vh);
    font-size: calc(10px + 8vw);
    transition: .8s;
    /*margin-bottom: 2%;*/
    margin-top: 8%;
    line-height: 60%;
}

.part-3-h1:hover{
    font-size: calc(10px + 10vw);
    cursor: url(Crosshair.gif), default;
}

.part-3-1{
    background: transparent;
    border-radius: 9px;
    transition: .8s;
    width: 65%;
    height: 700%;
    padding-bottom: 2%;
    margin: auto;
}

.part-3-1-p2{
    padding-left: 8%;
    margin-top: -5%;
    color: whitesmoke;
    font-family: tfw;
    font-size: calc(10px + 1.3vh);
    transition: .8s;
    padding-right: 8%;
    font-size: calc(10px + 1.0vw);
    line-height: 80%;
}

.part-3-h2{
    color: whitesmoke; /*Match color*/
    font-family: nm;
    font-size: calc(10px + 6vh);
    font-size: calc(10px + 3.7vw);
    transition: .8s;
    /*margin-bottom: 2%;*/
}

.part-4{
    min-height: 100vh;
    display: flex;
    transition: 1.2s;
    display: flex;
    padding: 2px 2px 2px 2px;
    background: url(TheTablet2.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
}

.part-4-h1{
    padding-left: -10%;
    color: whitesmoke; /*Match color*/
    font-family: ay;
    font-size: calc(10px + 9vh);
    font-size: calc(10px + 5vw);
    transition: .8s;
    /*margin-bottom: 2%;*/
    margin-top: 8%;
    line-height: 80%;
}

.part-4-h1:hover{
    font-size: calc(10px + 7vw);
    cursor: url(Crosshair.gif), default;
}

.part-4-1{
    background: transparent;
    border-radius: 9px;
    transition: .8s;
    width: 65%;
    height: 700%;
    padding-bottom: 2%;
    margin: auto;
}

.part-4-1-p1{
    padding-left: -10%;
    margin-top: -9%;
    color: whitesmoke;
    font-family: second;
    font-size: calc(10px + 1.3vh);
    transition: .8s;
    padding-right: 3%;
    font-size: calc(10px + 1.0vw);
}

.part-4-1-p2{
    padding-left: -10%;
    margin-top: -5%;
    color: whitesmoke;
    font-family: tfw;
    font-size: calc(10px + 1.3vh);
    transition: .8s;
    padding-right: 3%;
    font-size: calc(10px + 1.0vw);
}

.part-4-h2{
    color: whitesmoke; /*Match color*/
    font-family: nm;
    font-size: calc(10px + 6vh);
    font-size: calc(10px + 3.7vw);
    transition: .8s;
    /*margin-bottom: 2%;*/
}